{extends file="../../templates/master.html"}

{block name=body}
<form method="post">
    <div style="width:300px; margin:20px auto;" >
        <div class="ui-form-header">
            <div class="ui-form-title">
                <span class="ui-icon ui-icon-person ui-form-header-icon" style="float: left; margin-right: .3em;"></span>
                <strong>Login</strong>
            </div>
        </div>
        {$message}
        <div class="" style="padding:15px;">
            <p>
                <label for="username"><strong>Username</strong></label>
                <br/>
                <input id="username" name="username" class="form-control"/>
            </p>
            <p>
                <label for="password"><strong>Password: </strong></label>
                <br />
                <input id="password" name="password" type="password" class="form-control" />
            </p>
            <button name="Submit" type="submit"> Submit </button>
        </div>
    </div>
</form>
{/block}